@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap');

:root {
  --primary: #ffb400;
  --secondary: #00a6ed;
  --info: #7fb800;
  --warning: #f6511d;
  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --outline: #c3c0c0;
  --appBackground: #e6dfc8;
}

body,
button,
input,
select,
textarea {

  font-family: "Nunito", sans-serif;
}

button{
  background:#797d62;
  font-family: "Nunito", sans-serif;
  background: #797D62;
 background: radial-gradient(circle,rgba(121, 125, 98, 1) 0%, rgba(144, 148, 127, 1) 100%);
 color:white;
}

body {
  background-color: var(--appBackground);
  margin: 1em;
  background: #2A7B9B;
/* background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 119, 83, 1) 100%); */
  background: linear-gradient(90deg,rgb(216, 160, 119) 0%,  rgb(201, 109, 91) 100%);
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

input:focus {
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  color: #ffffff;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #e5a000;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #0097d7;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: #e14617;
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #71a500;
}

