.profileBannerContainer {
  position: relative;
}

.profileBanner {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.profileAvatar {
  position: absolute;
  bottom: 7px;
  left: 70px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 10;
}


.profileUsername {
  font-weight: bold;
}

.tabContainer {
  display: flex;
  height: 4em;
   background: #9b9b7a;
  background: linear-gradient(296deg,#7a756f 0%, #878b71 70%, #b8bb9e 20%);
}

.tabButton {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color:#7a756f ;
  transition: all 0.3s ease;
}

.tabButton:hover {
  color: #fff3e4 ;
}

.activeTab {
  font-weight: bold;
  color: #fff3e4;
}

.tabContent {
  padding: 20px;
  background-color: antiquewhite;
}

.warningBox {
  background: #fff3cd;
  padding: 10%;
  border-radius: 5px;
  border: 1px solid #ffeaa7;
  color: #856404;
}

.portfolioComingSoon {
  color: #666;
  font-style: italic;
}